[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/pigeon"]
	path = lib/pigeon
	url = https://github.com/exp-table/pigeon
[submodule "lib/ERC1155A"]
	path = lib/ERC1155A
	url = https://github.com/superform-xyz/ERC1155A
[submodule "lib/super-vaults"]
	path = lib/super-vaults
	url = https://github.com/superform-xyz/super-vaults
[submodule "lib/clones-with-immutable-args"]
	path = lib/clones-with-immutable-args
	url = https://github.com/wighawag/clones-with-immutable-args
