[profile.default]
solc-version = "0.8.19"
gas_reports = [
    "SuperformRouter",
    "BaseForm",
    "SuperformFactory",
    "SuperPositions",
    "MultiTxProcessor",
]
libraries = []
optimizer = true
optimizer_runs = 200
verbosity = 0
ffi = true
libs = ["lib"]
fs_permissions = [{ access = "read-write", path = "./script/" }]

[rpc_endpoints]
ethereum = "${ETHEREUM_RPC_URL}"
polygon = "${POLYGON_RPC_URL}"
bsc = "${BSC_RPC_URL}"
avalanche = "${AVALANCHE_RPC_URL}"
arbitrum = "${ARBITRUM_RPC_URL}"
optimism = "${OPTIMISM_RPC_URL}"
fantom = "${FANTOM_RPC_URL}"
ethereum_fork = "${ETHEREUM_LOCAL_URL}"
polygon_fork = "${POLYGON_LOCAL_URL}"
bsc_fork = "${BSC_LOCAL_URL}"
avalanche_fork = "${AVALANCHE_LOCAL_URL}"
arbitrum_fork = "${ARBITRUM_LOCAL_URL}"
optimism_fork = "${OPTIMISM_LOCAL_URL}"
fantom_fork = "${FANTOM_LOCAL_URL}"

[profile.ci]
solc-version = "0.8.19"
optimizer = false

[fuzz]
runs = 256