[profile.default]
solc-version = "0.8.19"
gas_reports = [
  "SuperformRouter",
  "BaseForm",
  "SuperformFactory",
  "SuperPositions",
  "MultiTxProcessor",
]
libraries = []
optimizer = true
optimizer_runs = 200
verbosity = 0
ffi = false
libs = ["lib"]
fs_permissions = [{ access = "read-write", path = "./script/" }]
remappings = ["solmate/=lib/ERC1155A/lib/solmate/src/"]

[profile.localdev]
solc-version = "0.8.19"
gas_reports = [
  "SuperformRouter",
  "BaseForm",
  "SuperformFactory",
  "SuperPositions",
  "MultiTxProcessor",
]
libraries = []
optimizer = false
optimizer_runs = 200
verbosity = 0
ffi = false
libs = ["lib"]
fs_permissions = [{ access = "read-write", path = "./script/" }]

[profile.coverage]
fuzz = { runs = 1, max_test_rejects = 350_000 }
invariant = { runs = 5_000 }

[rpc_endpoints]
ethereum = "${ETHEREUM_RPC_URL}"
polygon = "${POLYGON_RPC_URL}"
bsc = "${BSC_RPC_URL}"
avalanche = "${AVALANCHE_RPC_URL}"
arbitrum = "${ARBITRUM_RPC_URL}"
optimism = "${OPTIMISM_RPC_URL}"
fantom = "${FANTOM_RPC_URL}"
ethereum_fork = "${ETHEREUM_LOCAL_URL}"
polygon_fork = "${POLYGON_LOCAL_URL}"
bsc_fork = "${BSC_LOCAL_URL}"
avalanche_fork = "${AVALANCHE_LOCAL_URL}"
arbitrum_fork = "${ARBITRUM_LOCAL_URL}"
optimism_fork = "${OPTIMISM_LOCAL_URL}"
fantom_fork = "${FANTOM_LOCAL_URL}"

[fuzz]
max_test_rejects = 1_000_000 # Number of times `vm.assume` can fail
runs = 50

[fmt]
bracket_spacing = true
int_types = "long"
line_length = 120
multiline_func_header = "all"
number_underscore = "thousands"
quote_style = "double"
tab_width = 4
wrap_comments = true
